body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #68e89f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #22c55e;
  color: white;
}

.header input {
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  width: 40%;
}

.recipes {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .recipes {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.badge {
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

.green {
  background: #22c55e;
}

.orange {
  background: #f59e0b;
}

.red {
  background: #ef4444;
}

.heart {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

.heart.active {
  color: red;
}

#search {
  WIDTH: 117%;

  PADDING: 5%;
  border-radius: 10PX;
}